.about {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: flex-start;
  transform: translate3d(0, 0, 0);
  white-space: pre-wrap;
  padding: 50px 20% 120px 20%;
  font-size: 15px;
  color: #1a1a1a;
  min-height: 100vh;
  background-color: #FFF;
}

.about h1 {
  font-size: 36px;
  color: #1a1a1a;
}

.about h2 {
  font-size: 24px;
  font-weight: 500;
  color: #1a1a1a;
}

.about p {
  font-size: 20px;
  /* font-weight: 400; */
  color: #000;
  margin-bottom: 40px;
}

.about .about-cta {
  display: inline-block;
  padding: 13px 20px;
  border-radius: 4px;
  text-decoration: none;
}

@media only screen and (width <=960px) {
  .about {
    padding: 30px 20px 120px 20px;
  }
}
